<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>WebRTC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles/styles.css" media="screen">
    </head>
    <body>
        <div id="container">
            <div class="select">
                <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
            </div>
            <br />
            <div class="select">
                <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
            </div>
            <br />
            <div class="select">
                <label for="videoSource">Video source: </label><select id="videoSource"></select>
            </div>
            <br />
            <video id="video" playsinline autoplay height="480" width="640"></video>
            <canvas id="canvas" height="480" width="640"></canvas>
        </div>
    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>
